:root {
    --primary: #d10078;
    --primary-dark: #5d144c;
    --light-gray: lightgray;
    --gray: gray;
    --darkgray: darkgray;
    --white: white;
}

body {
    margin: 0;
}

.container {
    margin: 0 5%;
}

a {
    text-decoration: none;
    color: var(--primary);
}